@{
    ViewData["Title"] = "Thêm nhân viên";
    Layout = "~/Views/Shared/_Layout_Private.cshtml";
}

@section Stylesheets{
    <link rel="stylesheet" href="~/css/private/staff.css">
}

<div class="staff-create">
    <div class="title">
        Thêm nhân viên
        <span></span>
    </div>
    <div class="staff-create__content pt-2">
        <a href="/comnha/staffs" class="text-danger">Trở lại</a>

        <form id="create-form" class="needs-validation pt-4" novalidate enctype="multipart/form-data" method="POST">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="staff-create__img">
                        <div class="staff-create__img-wrapper">
                            <img id="staff-create__img-view" src="/images/avatar/unknown.jpg" alt="Avatar">
                            <label for="staff-create__img-input">
                                <i class="fa-solid fa-camera"></i>
                            </label>
                        </div>

                        <div class="form-group">
                            <input type="file" id="staff-create__img-input" class="form-control d-none" accept="image/*"
                                name="image">
                            <div class="invalid-feedback text-center mt-3">
                                Vui lòng tải ảnh đại diện!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-8 pl-lg-0">
                    <div class="form-row">

                        <div class="col-12 mb-2">
                            <label class="mb-1" for="name">Họ và tên:</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập họ và tên"
                                required>
                            <div class="invalid-feedback">Vui lòng nhập họ và tên!</div>
                        </div>

                        <div class="col-md-6 mb-2">
                            <label class="mb-1" for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Nhập email"
                                required>
                            <div class="invalid-feedback">Vui lòng nhập email!</div>
                        </div>

                        <div class="col-md-6 mb-2">
                            <label class="mb-1" for="phone">Số điện thoại:</label>
                            <input type="number" class="form-control" id="phone" name="phone"
                                placeholder="Nhập số điện thoại" required>
                            <div class="invalid-feedback">Vui lòng nhập số điện thoại!</div>
                        </div>

                        @*<div class="col-md-4 mb-2">
                            <label class="mb-1" for="identity">CMND/CCCD:</label>
                            <input type="text" class="form-control" id="identity" name="identity"
                                placeholder="Nhập CMND/CCCD" required>
                            <div class="invalid-feedback">Vui lòng nhập CMND hoặc CCCD!</div>
                        </div>*@

 @*                       <div class="col-md-4 mb-2">
                            <label class="mb-1" for="gender">Giới tính:</label>
                            <select id="gender" class="custom-select" name="gender" required>
                                <option value="">--Chọn giới tính--</option>
                                <option value="male">Nam</option>
                                <option value="female">Nữ</option>
                            </select>
                            <div class="invalid-feedback">Vui lòng chọn giới tính!</div>
                        </div>*@

                        @*<div class="col-md-4 mb-2">
                            <label class="mb-1" for="birthday">Ngày sinh:</label>
                            <input type="date" class="form-control" id="birthday" name="birthday" required>
                            <div class="invalid-feedback">Vui lòng chọn ngày sinh!</div>
                        </div>*@

                        <div class="col-12 mb-2">
                            <label class="mb-1" for="address">Địa chỉ:</label>
                            <input type="text" class="form-control" id="address" name="address"
                                placeholder="Nhập địa chỉ" required>
                            <div class="invalid-feedback">Vui lòng nhập địa chỉ!</div>
                        </div>

                        <div class="col-md-6 mb-2">
                            <label class="mb-1" for="salary">Mức lương:</label>
                            <input type="number" class="form-control" id="salary" name="salary"
                                placeholder="Nhập mức lương" required>
                            <div class="invalid-feedback">Vui lòng nhập mức lương!</div>
                        </div>

                        <div class="col-md-6 mb-2">
                            <label class="mb-1" for="role">Chức vụ:</label>
                            <select id="role" class="custom-select" name="role" required>
                                <option value="">--Chọn chức vụ--</option>
                                <option value="Quản Lý Nhà Hàng">Quản Lý Nhà Hàng</option>
                                <option value="Quản Lý Kho">Quản Lý Kho</option>
                                <option value="Lễ Tân">Lễ Tân</option>
                                <option value="Thu Ngân">Thu Ngân</option>
                                <option value="Phục Vụ">Phục Vụ</option>
                            </select>
                            <div class="invalid-feedback">Vui lòng chọn chức vụ!</div>
                        </div>

                        @*<div class="col-md-4 mb-2">
                            <label class="mb-1" for="branch">Chi nhánh:</label>
                            <select id="branch" class="custom-select" name="branch" required>
                                <option value="">--Chọn chi nhánh--</option>
                                <option value="CN001">Hồ Chí Minh</option>
                                <option value="CN002">Đà Nẵng</option>
                                <option value="CN003">Hà Nội</option>
                            </select>
                            <div class="invalid-feedback">Vui lòng chọn chi nhánh!</div>
                        </div>*@
                    </div>

                    <div id="alert-message" class="text-danger d-none"
                        style="font-size: 100%; margin-top: 0.25rem; margin-bottom: 0.25rem; width: 100%">
                        Mật khẩu xác thực không trùng khớp!
                    </div>
                        
                    <div class="d-flex justify-content-end mt-2">
                        <button type="reset" class="btn btn-outline-primary mr-2" id="reset-btn">Nhập lại</button>
                        <button type="submit" class="btn btn-outline-success">Xác nhận</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            $("div.alert").hide();
            const form = document.getElementById('create-form')
            const imageInput = document.getElementById('staff-create__img-input')
            const imageView = document.getElementById('staff-create__img-view')
            const resetBtn = document.getElementById('reset-btn')

            form.addEventListener('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();

                form.classList.add('was-validated');

                const staff_data = $("#create-form").serializeArray();
                console.log(staff_data);

                if ( staff_data.length != 7 ){
                    return;
                }

                if (staff_data[0]["value"].trim() === '' ||
                    staff_data[1]["value"].trim() === '' ||
                    staff_data[2]["value"].trim() === '' ||
                    staff_data[3]["value"].trim() === '' ||
                    staff_data[4]["value"].trim() === '' ||
                    staff_data[5]["value"].trim() === '' 
                ) {
                    showError("Vui lòng nhập đầy đủ thông tin !");
                    return;
                }

                if (isNaN(staff_data[4]["value"]) || parseFloat(staff_data[4]["value"]) <= 0) {
                    showError("Lương nhân viên phải lớn hơn 0 !");
                    return;
                }

                   
                let API_URL = `https://localhost:5556/api/comnha/create-staff`;
                const options = {
                    credentials: 'same-origin',
                    method: 'POST',
                    mode: 'cors',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json;charset=UTF-8'
                    },
                    body: JSON.stringify({
                        maNhanVien: "",
                        tenNhanVien: staff_data[0]["value"],
                        soDienThoai: staff_data[2]["value"],
                        luong: parseFloat(staff_data[4]["value"]),
                        chucVu: staff_data[5]["value"],
                        diaChi: staff_data[3]["value"],
                        email: staff_data[1]["value"]
                    })
                }

                fetch(API_URL, options)
                    .then(json_result => {
                        return json_result.json();
                    })
                    .then(result => {
                        console.log(result);
                        if ( result.status ){
                            //window.location.href = "/comnha/staffs"
                            showSuccess(result.message);
                            form.reset();
                        } else {
                            showError(result.message);
                        }
                    })
                    .catch(error => {
                                
                    })  

            }, false);

            imageInput.addEventListener('change', function (e) {
                const file = e.target.files[0]
                const reader = new FileReader()

                reader.onload = function (e) {
                    imageView.setAttribute('src', e.target.result)
                }

                reader.readAsDataURL(file)
            })

            resetBtn.addEventListener('click', function (e) {
                imageView.setAttribute('src', '/images/avatar/unknown.jpg')
            })
        }, false);
    })();

    const alert = $("#alert-message");

    function showError(message){
        alert.removeClass("text-success");
        alert.removeClass("text-danger");
        alert.removeClass("d-none");

        alert.addClass("text-danger");

        alert.html(message);
    }

    function showSuccess(message){
        alert.removeClass("text-success");
        alert.removeClass("text-danger");
        alert.removeClass("d-none");

        alert.addClass("text-success");

        alert.html(message);
    }

    function isVietnamesePhoneNumber(number) {
        return /(84|0[3|5|7|8|9])+([0-9]{8})\b/.test(number);
    }
</script>
}