<link rel="stylesheet" href="/css/private/received-note.css">

<div class="staff">
    <div class="title">
        Phiếu nhập
        <span></span>
    </div>
    <div class="heading d-flex flex-column flex-md-row justify-content-md-between">
        <a href="/comnha/received-notes/create" type="button" class="btn btn-outline-success">Tạo phiếu nhập</a>
        <div class="search d-flex pt-2 pt-md-0 flex-column flex-md-row align-items-md-center">
            <label for="search-input">Tìm kiếm: </label>
            <div class="search-wrapper">
                <input id="search-input" class="search-input" type="text" placeholder="Nhập từ khóa">
                <i class="fa-solid fa-magnifying-glass search-btn"></i>
            </div>
        </div>
    </div>
    <div class="content pt-5">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-light table">
                <thead>
                    <tr class="text-white" style="background-color: var(--primary-color);">
                        <th style="min-width: 80px;" class="text-center">ID</th>
                        <th style="min-width: 160px;" class="text-center">Mã nhà cung cấp</th>
                        <th style="min-width: 120px;" class="text-center">Chi nhánh</th>
                        <th style="min-width: 100px;" class="text-center">Ngày nhập</th>
                        <th style="min-width: 160px;" class="text-center">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/detail/PN0001" class="text-dark">PN0001</a>
                        </td>
                        <td class="text-center align-middle">
                            <a href="/comnha/suppliers/detail/NCC0001" class="text-dark">NCC0001</a>
                        </td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">02/02/2021</td>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/edit/PN0001" type="button" class="btn btn-outline-primary"
                                data-tooltip="tooltip" data-placement="top" title="Chỉnh sửa">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Xóa" data-toggle="modal" data-id="PN0001"
                                data-target="#delete-modal">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <button type="button" class="btn btn-outline-info" data-tooltip="tooltip"
                                data-placement="top" title="In" data-toggle="modal" data-id="PN0001"
                                data-target="#print-modal">
                                <i class="fa-solid fa-print"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/detail/PN0001" class="text-dark">PN0001</a>
                        </td>
                        <td class="text-center align-middle">
                            <a href="/comnha/suppliers/detail/NCC0001" class="text-dark">NCC0001</a>
                        </td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">02/02/2021</td>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/edit/PN0001" type="button" class="btn btn-outline-primary"
                                data-tooltip="tooltip" data-placement="top" title="Chỉnh sửa">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Xóa" data-toggle="modal" data-id="PN0001"
                                data-target="#delete-modal">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <button type="button" class="btn btn-outline-info" data-tooltip="tooltip"
                                data-placement="top" title="In" data-toggle="modal" data-id="PN0001"
                                data-target="#print-modal">
                                <i class="fa-solid fa-print"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/detail/PN0001" class="text-dark">PN0001</a>
                        </td>
                        <td class="text-center align-middle">
                            <a href="/comnha/suppliers/detail/NCC0001" class="text-dark">NCC0001</a>
                        </td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">02/02/2021</td>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/edit/PN0001" type="button" class="btn btn-outline-primary"
                                data-tooltip="tooltip" data-placement="top" title="Chỉnh sửa">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Xóa" data-toggle="modal" data-id="PN0001"
                                data-target="#delete-modal">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <button type="button" class="btn btn-outline-info" data-tooltip="tooltip"
                                data-placement="top" title="In" data-toggle="modal" data-id="PN0001"
                                data-target="#print-modal">
                                <i class="fa-solid fa-print"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/detail/PN0001" class="text-dark">PN0001</a>
                        </td>
                        <td class="text-center align-middle">
                            <a href="/comnha/suppliers/detail/NCC0001" class="text-dark">NCC0001</a>
                        </td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">02/02/2021</td>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/edit/PN0001" type="button" class="btn btn-outline-primary"
                                data-tooltip="tooltip" data-placement="top" title="Chỉnh sửa">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Xóa" data-toggle="modal" data-id="PN0001"
                                data-target="#delete-modal">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <button type="button" class="btn btn-outline-info" data-tooltip="tooltip"
                                data-placement="top" title="In" data-toggle="modal" data-id="PN0001"
                                data-target="#print-modal">
                                <i class="fa-solid fa-print"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/detail/PN0001" class="text-dark">PN0001</a>
                        </td>
                        <td class="text-center align-middle">
                            <a href="/comnha/suppliers/detail/NCC0001" class="text-dark">NCC0001</a>
                        </td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">02/02/2021</td>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/edit/PN0001" type="button" class="btn btn-outline-primary"
                                data-tooltip="tooltip" data-placement="top" title="Chỉnh sửa">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Xóa" data-toggle="modal" data-id="PN0001"
                                data-target="#delete-modal">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <button type="button" class="btn btn-outline-info" data-tooltip="tooltip"
                                data-placement="top" title="In" data-toggle="modal" data-id="PN0001"
                                data-target="#print-modal">
                                <i class="fa-solid fa-print"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/detail/PN0001" class="text-dark">PN0001</a>
                        </td>
                        <td class="text-center align-middle">
                            <a href="/comnha/suppliers/detail/NCC0001" class="text-dark">NCC0001</a>
                        </td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">02/02/2021</td>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/edit/PN0001" type="button" class="btn btn-outline-primary"
                                data-tooltip="tooltip" data-placement="top" title="Chỉnh sửa">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Xóa" data-toggle="modal" data-id="PN0001"
                                data-target="#delete-modal">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <button type="button" class="btn btn-outline-info" data-tooltip="tooltip"
                                data-placement="top" title="In" data-toggle="modal" data-id="PN0001"
                                data-target="#print-modal">
                                <i class="fa-solid fa-print"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/detail/PN0001" class="text-dark">PN0001</a>
                        </td>
                        <td class="text-center align-middle">
                            <a href="/comnha/suppliers/detail/NCC0001" class="text-dark">NCC0001</a>
                        </td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">02/02/2021</td>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/edit/PN0001" type="button" class="btn btn-outline-primary"
                                data-tooltip="tooltip" data-placement="top" title="Chỉnh sửa">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Xóa" data-toggle="modal" data-id="PN0001"
                                data-target="#delete-modal">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <button type="button" class="btn btn-outline-info" data-tooltip="tooltip"
                                data-placement="top" title="In" data-toggle="modal" data-id="PN0001"
                                data-target="#print-modal">
                                <i class="fa-solid fa-print"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/detail/PN0001" class="text-dark">PN0001</a>
                        </td>
                        <td class="text-center align-middle">
                            <a href="/comnha/suppliers/detail/NCC0001" class="text-dark">NCC0001</a>
                        </td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">02/02/2021</td>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/edit/PN0001" type="button" class="btn btn-outline-primary"
                                data-tooltip="tooltip" data-placement="top" title="Chỉnh sửa">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Xóa" data-toggle="modal" data-id="PN0001"
                                data-target="#delete-modal">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <button type="button" class="btn btn-outline-info" data-tooltip="tooltip"
                                data-placement="top" title="In" data-toggle="modal" data-id="PN0001"
                                data-target="#print-modal">
                                <i class="fa-solid fa-print"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/detail/PN0001" class="text-dark">PN0001</a>
                        </td>
                        <td class="text-center align-middle">
                            <a href="/comnha/suppliers/detail/NCC0001" class="text-dark">NCC0001</a>
                        </td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">02/02/2021</td>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/edit/PN0001" type="button" class="btn btn-outline-primary"
                                data-tooltip="tooltip" data-placement="top" title="Chỉnh sửa">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Xóa" data-toggle="modal" data-id="PN0001"
                                data-target="#delete-modal">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <button type="button" class="btn btn-outline-info" data-tooltip="tooltip"
                                data-placement="top" title="In" data-toggle="modal" data-id="PN0001"
                                data-target="#print-modal">
                                <i class="fa-solid fa-print"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/detail/PN0001" class="text-dark">PN0001</a>
                        </td>
                        <td class="text-center align-middle">
                            <a href="/comnha/suppliers/detail/NCC0001" class="text-dark">NCC0001</a>
                        </td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">02/02/2021</td>
                        <td class="text-center align-middle">
                            <a href="/comnha/received-notes/edit/PN0001" type="button" class="btn btn-outline-primary"
                                data-tooltip="tooltip" data-placement="top" title="Chỉnh sửa">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Xóa" data-toggle="modal" data-id="PN0001"
                                data-target="#delete-modal">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <button type="button" class="btn btn-outline-info" data-tooltip="tooltip"
                                data-placement="top" title="In" data-toggle="modal" data-id="PN0001"
                                data-target="#print-modal">
                                <i class="fa-solid fa-print"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger">Xem thêm</button>
        </div>
    </div>
</div>

{{!-- Model xóa --}}
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa phiếu nhập?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="delete-modal-body__message" class="modal-body__message">Do you want to delete ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-confirm-delete" type="button" class="btn btn-danger">Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form id="delete-form" name="delete-form" method="POST"></form>

{{!-- Model in --}}
<div id="print-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">In phiếu nhập?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="print-modal-body__message" class="modal-body__message">Do you want to print ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-confirm-print" type="button" class="btn btn-success">Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const deleteForm = document.getElementById('delete-form')
        const btnDelete = document.getElementById('btn-confirm-delete')
        const deleteModalMessage = document.getElementById('delete-modal-body__message')
        const btnPrint = document.getElementById('btn-confirm-print')
        const printModalMessage = document.getElementById('print-modal-body__message')
        let id;

        // Tooltip
        $('[data-tooltip="tooltip"]').tooltip();

        // When single button delete clicked in each course
        $('#delete-modal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            id = button.data('id')
            deleteModalMessage.innerHTML = `Bạn có thật sự muốn xóa phiếu nhập: ${id} không?`
        })

        // When button delete clicked
        btnDelete.onclick = function () {
            deleteForm.action = ``
            deleteForm.submit()
        }

        $('#print-modal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            id = button.data('id')
            printModalMessage.innerHTML = `Bạn có thật sự muốn in phiếu nhập: ${id} không?`
        })

        btnPrint.onclick = function () {
            $('#print-modal').modal('hide')
            console.log('In phiếu nhập thành công')
        }
    });
</script>