<link rel="stylesheet" href="/css/private/food.css">

<div class="food-create">
    <div class="title">
        Thêm món ăn
        <span></span>
    </div>
    <div class="food-create__content pt-2">
        <a href="/comnha/foods" class="text-danger">Trở lại</a>
        <form class="needs-validation pt-4" novalidate enctype="multipart/form-data" method="POST">
            <div class="row">
                {{!-- Ảnh --}}
                <div class="col-12 col-lg-4">
                    <div class="food-create__img">
                        <div class="food-create__img-wrapper">
                            <img src="/images/food/lau1.jpg" alt="Food">
                            <label for="food-create__img-input">
                                <i class="fa-solid fa-camera"></i>
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="file" id="food-create__img-input" class="form-control d-none" accept="image/*"
                                name="image" required>
                            <div class="invalid-feedback text-center mt-3">
                                Vui lòng tải ảnh món ăn!
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- Thông tin --}}
                <div class="col-12 col-lg-8 px-0">
                    <div class="form-row">
                        {{!-- Tên --}}
                        <div class="col-12 mb-2">
                            <label class="mb-1" for="name">Tên món ăn:</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên món ăn"
                                required>
                            <div class="invalid-feedback">Vui lòng nhập tên món ăn!</div>
                        </div>
                        {{!-- Đơn vị --}}
                        <div class="col-md-6 mb-2">
                            <label class="mb-1" for="unit">Đơn vị:</label>
                            <input type="text" class="form-control" id="unit" name="unit" placeholder="Nhập đơn vị"
                                required>
                            <div class="invalid-feedback">Vui lòng nhập đơn vị!</div>
                        </div>
                        {{!-- Giá bán --}}
                        <div class="col-md-6 mb-2">
                            <label class="mb-1" for="price">Giá bán:</label>
                            <input type="number" class="form-control" id="price" name="price"
                                placeholder="Nhập giá bán" required>
                            <div class="invalid-feedback">Vui lòng nhập giá bán!</div>
                        </div>
                        {{!-- Nhóm món ăn --}}
                        <div class="col-12 mb-2">
                            <label class="mb-1" for="group">Nhóm món ăn:</label>
                            <select id="group" class="custom-select" name="group" required>
                                <option value="">--Chọn nhóm món ăn--</option>
                                <option value="NMA0001">Lẩu</option>
                                <option value="NMA0002">Gỏi</option>
                            </select>
                            <div class="invalid-feedback">Vui lòng chọn nhóm món ăn!</div>
                        </div>
                        {{!-- Mô tả ngắn --}}
                        <div class="col-12 mb-2">
                            <label class="mb-1" for="desc">Mô tả ngắn:</label>
                            <input type="text" class="form-control" id="desc" name="desc"
                                placeholder="Nhập mô tả ngắn" required>
                            <div class="invalid-feedback">Vui lòng nhập mô tả ngắn!</div>
                        </div>
                        {{!-- Mô tả chi tiết --}}
                        <div class="col-12 mb-2">
                            <label class="mb-1" for="desc-detail">Mô tả chi tiết:</label>
                            <textarea type="text" class="form-control" id="desc-detail" name="desc-detail"
                                placeholder="Nhập mô tả chi tiết" rows="5" required></textarea>
                            <div class="invalid-feedback">Vui lòng nhập mô tả chi tiết!</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-end mt-2">
                        <button type="reset" class="btn btn-outline-secondary mr-2">Nhập lại</button>
                        <button type="submit" class="btn btn-outline-success">Thêm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>