@using System.Globalization
@{
    ViewData["Title"] = "Danh sách lịch hẹn";
    Layout = "~/Views/Shared/_Layout_Private.cshtml";

    IEnumerable<Lichhen> scheduleList = ViewData["ScheduleList"] as IEnumerable<Lichhen>;
    IEnumerable<Banan> tableList = ViewData["TableList"] as IEnumerable<Banan>;
}

<div class="schedule">
    <div class="title">
        Lịch hẹn
        <span></span>
    </div>
    <div class="heading d-flex flex-column flex-md-row justify-content-md-between">
        @*<div class="search d-flex pt-2 pt-md-0 flex-column flex-md-row align-items-md-center">
            <a href="/comnha/schedules/create" type="button" class="btn btn-outline-success">Tạo lịch hẹn</a>
        </div>*@
        <div class="search d-flex pt-2 pt-md-0 flex-column flex-md-row align-items-md-center">
            <label for="search-input">Tìm kiếm: </label>
            <div class="search-wrapper">
                <input id="search-input" class="search-input" type="text" placeholder="Nhập từ khóa">
                <i class="fa-solid fa-magnifying-glass search-btn"></i>
            </div>
        </div>
    </div>
    <div class="content pt-5">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-light table">
                <thead>
                    <tr class="text-white" style="background-color: var(--primary-color);">
                        <th style="min-width: 10px; width: 2%" class="text-center">ID</th>
                        <th style="min-width: 120px; width: 15%" class="text-center">Ngày hẹn</th>
                        <th style="min-width: 120px; width: 15%" class="text-center">Thời gian</th>
                        <th style="min-width: 120px; width: 15%" class="text-center">Tình trạng</th>
                        <th style="min-width: 100px; width: 15%" class="text-center text-nowrap">Số lượng khách</th>
                        <th style="min-width: 200px; width: 30%" class="text-center">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Lichhen lichhen in scheduleList)
                    {                                         
                        <tr id="tr-schedule-id-@lichhen.MaLichHen">
                            <td class="text-center align-middle">
                                <a href="/comnha/schedules/detail/@lichhen.MaLichHen" class="text-dark">@lichhen.MaLichHen</a>
                            </td>
                            <td class="text-center align-middle">@lichhen.NgayHen.ToString("dd/M/yyyy", CultureInfo.InvariantCulture)</td>
                            <td class="text-center align-middle">@lichhen.ThoiGian.ToString(@"hh\:mm\:ss")</td>
                            <td class="text-center align-middle" id="td-schedule-id-@lichhen.MaLichHen">
                                @if ( @lichhen.TinhTrang == 0)
                                {
                                    <span class="text-center align-middle">Chưa xử lý</span>
                                } else if ( @lichhen.TinhTrang == 1)
                                {
                                    <span class="text-center align-middle">Đã xử lý</span>
                                } else
                                {
                                    <span class="text-center align-middle">Hủy tiếp nhận</span>
                                }

                            </td>
                            <td class="text-center align-middle">@lichhen.SoLuongKhach người</td>
                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Tiếp nhận" data-toggle="modal" data-id="@lichhen.MaLichHen" data-img="" data-name=""
                                data-target="#accept-modal">
                                    <i class="fas fa-check"></i>
                                </button>
                                <button type="button" class="btn btn-outline-secondary" data-tooltip="tooltip"
                                data-placement="top" title="Hủy" data-toggle="modal" data-id="@lichhen.MaLichHen" data-img="" data-name=""
                                data-target="#cancel-modal">
                                    <i class="fas fa-times"></i>
                                </button>

                                @*<a href="/comnha/schedules/edit/@lichhen.MaLichHen" type="button" class="btn btn-outline-primary"
                                data-tooltip="tooltip" data-placement="top" title="Chỉnh sửa">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>*@

                                <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Xóa" data-toggle="modal" data-id="@lichhen.MaLichHen" data-img="" data-name=""
                                data-target="#delete-modal">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger">Xem thêm</button>
        </div>
    </div>
</div>


<div id="accept-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tiếp nhận lịch hẹn?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-body__message">Vui lòng chọn bàn ăn cần đặt lịch</p>
                <input id="schedule-id" type="hidden" value="" />
                <select id="role" class="custom-select" name="table-id" required>
                    <option value="BA001">--Chọn bàn ăn--</option>
                    @foreach (Banan banan in tableList)
                   {
                        if ( banan.TinhTrang.Equals("Trống") )
                        {
                            <option value="@banan.MaBanAn">Bàn @banan.MaBanAn (Sức chứa: @banan.SucChua)</option>
                        }                      
                   }
                </select>

            </div>
            <div class="modal-footer">
                <button id="btn-confirm-book" type="button" class="btn btn-success">Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<div id="cancel-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hủy lịch hẹn?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-body__message">Bạn có chắc chắn hủy lịch hẹn này ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-confirm-cancel" type="button" class="btn btn-secondary">Xác nhận</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa lịch hẹn?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-body__message-delete">Do you want to delete ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-confirm-delete" type="button" class="btn btn-danger">Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>


<form id="delete-form" name="delete-form" method="POST">
    
</form>

@section Scripts{
<script>
    $(document).ready(function () {
        const deleteForm = document.getElementById('delete-form')
        const btnDeleteCourse = document.getElementById('btn-confirm-delete')
        const btnConfirmBook = document.getElementById('btn-confirm-book')
        const btnConfirmCancel = document.getElementById('btn-confirm-cancel')
        const modalMessage = document.querySelector('.modal-body__message-delete')
        let id;

        // Tooltip
        $('[data-tooltip="tooltip"]').tooltip();

        // When single button delete clicked in each course
        $('#delete-modal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            id = button.data('id')
            $("#schedule-id").val(id);
            modalMessage.innerHTML = `Bạn có thật sự muốn xóa lịch hẹn: <strong class="text-dange">${id}</strong> không?`
        })

        // When single button delete clicked in each course
        $('#accept-modal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            id = button.data('id')
            $("#schedule-id").val(id);
            
        })

        // When single button delete clicked in each course
        $('#cancel-modal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            id = button.data('id')
            $("#schedule-id").val(id);          
        })

        // When button delete clicked
        btnDeleteCourse.onclick = function () {
            const scheduleID = $("#schedule-id").val();

            let API_URL = `https://localhost:5556/api/comnha/delete-schedule/${scheduleID}`;
            const options = {
                credentials: 'same-origin',
                method: 'DELETE',
                mode: 'cors',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json;charset=UTF-8'
                }
            }

            fetch(API_URL, options)
                .then(json_result => {
                    return json_result.json();
                })
                .then(result => {
                    console.log(result);
                    if ( result.status ){
                        $('#delete-modal').modal("toggle");
                        $("#tr-schedule-id-" + scheduleID).remove();
                    } else {
                        showError(result.message);
                    }
                })
                .catch(error => {
                                
                })  
        }

        btnConfirmBook.onclick = function () {
            const tableID = $("select[name='table-id']").val();
            const scheduleID = $("#schedule-id").val();

            let API_URL = `https://localhost:5556/api/comnha/update-schedule/${scheduleID}?tableID=${tableID}`;
            const options = {
                credentials: 'same-origin',
                method: 'POST',
                mode: 'cors',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json;charset=UTF-8'
                }
            }

            fetch(API_URL, options)
                .then(json_result => {
                    return json_result.json();
                })
                .then(result => {
                    console.log(result);
                    if ( result.status ){
                        $('#accept-modal').modal("toggle");
                        $("#td-schedule-id-"+ scheduleID).html("Đã xử lý");
                    } else {
                        showError(result.message);
                    }
                })
                .catch(error => {
                                
                })  
        }

        btnConfirmCancel.onclick = function () {
            const scheduleID = $("#schedule-id").val();

            let API_URL = `https://localhost:5556/api/comnha/cancel-schedule/${scheduleID}`;
            const options = {
                credentials: 'same-origin',
                method: 'POST',
                mode: 'cors',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json;charset=UTF-8'
                }
            }

            fetch(API_URL, options)
                .then(json_result => {
                    return json_result.json();
                })
                .then(result => {
                    console.log(result);
                    if ( result.status ){
                        $('#cancel-modal').modal("toggle");
                        $("#td-schedule-id-"+ scheduleID).html("Hủy tiếp nhận");
                    } else {
                        showError(result.message);
                    }
                })
                .catch(error => {
                                
                })  
        }
    });
</script>
}