<header class="header">
    <div class="w-100 mx-0 row">
        <div class="header-mobile col-2 d-xl-none d-flex align-items-center justify-content-start">
            <div class="header-mobile__menu-btn">
                <span class="menu-btn__bar"></span>
            </div>
            <div class="header-mobile__navbar">
                <div class="row h-100 mx-0">
                    <div class="col-12 col-sm-8 px-0">
                        <ul class="header-mobile__list">
                            <li class="header-mobile__item">
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="header-mobile__item">
                                <a href="">Thực đơn</a>
                            </li>
                            <li class="header-mobile__item">
                                <a href="/introduce">Giới thiệu</a>
                            </li>
                            <li class="header-mobile__item">
                                <a href="/contact">Liên hệ</a>
                            </li>
                            <li class="header-mobile__item">
                                <a href="/member">Hội viên</a>
                            </li>
                            <li class="header-mobile__item">
                                <a href="/book" class="text-danger">Đặt bàn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 px-0 d-none d-sm-block">
                        <div class="header-mobile__overlay">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-left col-8 col-xl-3 d-flex align-items-center justify-content-center">
            <a href="/" class="header-logo">
                <i class="fas fa-utensils"></i>
                <span>Cơm Nhà</span>
            </a>
        </div>

        <div class="header-center col-xl-6 d-none d-xl-flex align-items-center justify-content-center">
            <ul class="header-list">
                <li class="header-item">
                    <a href="/">Trang chủ</a>
                </li>
                <li class="header-item">
                    <a href="/menu">Thực đơn</a>
                </li>
                <li class="header-item">
                    <a href="/introduce">Giới thiệu</a>
                </li>
                <li class="header-item">
                    <a href="/contact">Liên hệ</a>
                </li>
                <li class="header-item">
                    <a href="/member">Hội viên</a>
                </li>
            </ul>
        </div>

        <div class="header-right col-2 col-xl-3 d-flex align-items-center justify-content-end justify-content-xl-center">
            <a href="/cart" class="header-icon">
                <i class="fas fa-shopping-cart"></i>
                <span class="header-cart-number">0</span>
            </a>
            <a href="/book" class="header-btn header-btn__book d-none d-xl-block">Đặt bàn</a>
        </div>
    </div>
</header>
