<div class="sitebar d-none d-lg-block">
    <div class="sitebar-wrapper {{active}}">
        {{!-- Dashboard --}}
        <div class="sitebar-menu">
            <p class="sitebar-title">
                Dashboard
            </p>
            <ul class="sitebar-list">
                <li class="sitebar-item sitebar-item--home">
                    <a href="/comnha">
                        <i class="fa-solid fa-house-chimney"></i>
                        Trang chủ
                    </a>
                </li>
                <li class="sitebar-item sitebar-item--revenue">
                    <a href="/comnha/revenue">
                        <i class="fa-solid fa-chart-line"></i>
                        Doanh thu
                    </a>
                </li>
            </ul>
        </div>

        {{!-- Quick Menu --}}
        <div class="sitebar-menu">
            <p class="sitebar-title">
                Quick Menu
            </p>
            <ul class="sitebar-list">
                <li class="sitebar-item sitebar-item--staffs">
                    <a href="/comnha/staffs">
                        <i class="fa-solid fa-user-large"></i>
                        Nhân viên
                    </a>
                </li>
                <li class="sitebar-item sitebar-item--members">
                    <a href="/comnha/members">
                        <i class="fa-solid fa-user-group"></i>
                        Hội viên
                    </a>
                </li>
                <li class="sitebar-item sitebar-item--foods">
                    <a href="/comnha/foods">
                        <i class="fa-solid fa-utensils"></i>
                        Món ăn
                    </a>
                </li>
                <li class="sitebar-item sitebar-item--bills">
                    <a href="/comnha/bills">
                        <i class="fa-solid fa-file-invoice-dollar"></i>
                        Hóa đơn
                    </a>
                </li>
                <li class="sitebar-item sitebar-item--schedules">
                    <a href="/comnha/schedules">
                        <i class="fa-regular fa-calendar-days"></i>
                        Lịch hẹn
                    </a>
                </li>
                <li class="sitebar-item sitebar-item--materials">
                    <a href="/comnha/materials">
                        <i class="fa-solid fa-cubes"></i>
                        Nguyên vật liệu
                    </a>
                </li>
                <li class="sitebar-item sitebar-item--received-notes">
                    <a href="/comnha/received-notes">
                        <i class="fa-solid fa-clipboard-list"></i>
                        Phiếu nhập
                    </a>
                </li>
                <li class="sitebar-item sitebar-item--suppliers">
                    <a href="/comnha/suppliers">
                        <i class="fa-solid fa-boxes-packing"></i>
                        Nhà cung cấp
                    </a>
                </li>
            </ul>
        </div>

        {{!-- Actions --}}
        <div class="sitebar-menu">
            <p class="sitebar-title">
                Actions
            </p>
            <ul class="sitebar-list">
                <li class="sitebar-item sitebar-item--tables-condition">
                    <a href="/comnha/tables">
                        <i class="fa-solid fa-table-cells"></i>
                        Xem tình trạng bàn ăn
                    </a>
                </li>
                <li class="sitebar-item sitebar-item--order">
                    <a href="/comnha/order">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Tạo phiếu gọi món
                    </a>
                </li>
            </ul>
        </div>

        {{!-- Other --}}
        <div class="sitebar-menu">
            <p class="sitebar-title">
                Other
            </p>
            <ul class="sitebar-list">
                <li class="sitebar-item sitebar-item--password">
                    <a href="/comnha/password">
                        <i class="fa-solid fa-lock"></i>
                        Đổi mật khẩu
                    </a>
                </li>
                <li class="sitebar-item">
                    <a href="#">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Đăng xuất
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>