<div class="password">
    <div class="title">
        Đổi mật khẩu
        <span></span>
    </div>
    <div class="row pt-4">
        <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
            <form id="password-form" class="needs-validation" novalidate>
                <div class="form-group row mb-0 mb-md-3">
                    <label for="old-password" class="col-sm-4 col-form-label">Mật khẩu cũ:</label>
                    <div class="input-group col-sm-8">
                        <input type="password" class="form-control" id="old-password" required autocomplete="off">
                        <div class="input-group-append">
                            <span
                                class="input-group-text accounts-change-password__eye d-flex align-items-center justify-content-center"
                                style="width: 46px; cursor: pointer;" onclick="password_show_hide(this);">
                                <i class="fas fa-eye" id="show_eye"></i>
                                <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                            </span>
                        </div>
                        <div class="invalid-feedback">
                            Vui lòng nhập mật khẩu cũ!
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-0 mb-md-3">
                    <label for="new-password" class="col-sm-4 col-form-label">Mật khẩu mới:</label>
                    <div class="input-group col-sm-8">
                        <input type="password" class="form-control" id="new-password" required autocomplete="off">
                        <div class="input-group-append">
                            <span
                                class="input-group-text accounts-change-password__eye d-flex align-items-center justify-content-center"
                                style="width: 46px; cursor: pointer;" onclick="password_show_hide(this);">
                                <i class="fas fa-eye" id="show_eye"></i>
                                <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                            </span>
                        </div>
                        <div class="invalid-feedback">
                            Vui lòng nhập mật khẩu mới!
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-0 mb-md-3">
                    <label for="retype-password" class="col-sm-4 col-form-label">Xác thực mật khẩu:</label>
                    <div class="input-group col-sm-8">
                        <input type="password" class="form-control" id="retype-password" required autocomplete="off">
                        <div class="input-group-append">
                            <span
                                class="input-group-text accounts-change-password__eye d-flex align-items-center justify-content-center"
                                style="width: 46px; cursor: pointer;" onclick="password_show_hide(this);">
                                <i class="fas fa-eye" id="show_eye"></i>
                                <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                            </span>
                        </div>
                        <div class="invalid-feedback">
                            Vui lòng xác thực mật khẩu mới!
                        </div>
                        <div id="password-form__alert-message" class="text-danger d-none"
                            style="font-size: 80%; margin-top: 0.25rem; width: 100%">
                            Mật khẩu xác thực không trùng khớp!
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3 mt-md-0">
                    <button type="submit" class="btn btn-outline-success right">Xác nhận</button>
                </div>
            </form>
            <div class="password-advice pt-3">
                <p class="mb-0">Để bảo mật, mật khẩu bạn nên có:</p>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-check text-success"></i>
                        Ít nhất 8-16 ký tự.
                    </li>
                    <li>
                        <i class="fas fa-check text-success"></i>
                        Bao gồm ký tự viết hoa và viết thường.
                    </li>
                    <li>
                        <i class="fas fa-check text-success"></i>
                        Bao gồm ký tự số.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    function password_show_hide(e) {
        var x = e.closest('.input-group').querySelector('input');
        console.log(x);
        var show_eye = e.querySelector("#show_eye");
        var hide_eye = e.querySelector("#hide_eye");
        hide_eye.classList.remove("d-none");
        if (x.type === "password") {
            x.type = "text";
            show_eye.style.display = "none";
            hide_eye.style.display = "block";
        } else {
            x.type = "password";
            show_eye.style.display = "block";
            hide_eye.style.display = "none";
        }
    }

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            const form = document.getElementById('password-form')
            const inputNewPassword = document.getElementById('new-password')
            const inputRetypePassword = document.getElementById('retype-password')
            const alertMessage = document.getElementById('password-form__alert-message')

            form.addEventListener('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();
                if (form.checkValidity() === false) {
                    form.classList.add('was-validated');
                } else {
                    form.classList.remove('was-validated');
                    if (inputNewPassword.value.trim() !== inputRetypePassword.value.trim()) {
                        alertMessage.classList.remove('d-none')
                        alertMessage.classList.add('d-block')
                    } else {
                        console.log('Đổi mật khẩu thành công')
                        alertMessage.classList.add('d-none')
                        alertMessage.classList.remove('d-block')
                    }
                }
            }, false);
        }, false);
    })();
</script>