<div class="revenue">
    <div class="title">
        Doanh thu
        <span></span>
    </div>
    <div class="heading d-flex flex-column flex-md-row justify-content-md-between">
        <div class="d-flex pt-2 pt-md-0 flex-column flex-md-row align-items-md-center">
            <label class="mr-sm-2 text-nowrap" for="CustomSelect">Chọn doanh thu theo:</label>
            <select class="custom-select mr-sm-2 w-md-50" id="CustomSelect">
                <option selected>Ngày</option>
                <option>Tháng</option>
                <option>Năm</option>
            </select>
        </div>

        <div class="d-flex pt-2 pt-md-0 flex-column flex-md-row align-items-md-center">
            <label class="mr-sm-2 text-nowrap" for="time">Chọn ngày:</label>
            <input type="date" id="time" name="time" class="w-md-50">
        </div>

        <div class="d-flex pt-2 pt-md-0 flex-column flex-md-row align-items-md-center">
            <label class="mr-sm-2 text-nowrap" for="CustomSelect">Chọn chi nhánh:</label>
            <select class="custom-select mr-sm-2 w-md-50" id="CustomSelect">
                <option selected>Hồ Chí Minh</option>
                <option>Hà Nội</option>
            </select>
        </div>
    </div>
    <div class="content pt-5">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-light table">
                <thead>
                    <tr class="text-white" style="background-color: var(--primary-color);">
                        <th style="min-width: 40px; width: 15%" class="text-center">Đơn</th>
                        <th style="min-width: 100px; width: 15%" class="text-center">Ngày</th>
                        <th style="min-width: 100px; width: 15%" class="text-center">Giờ</th>
                        <th style="min-width: 230px; width: 30%" class="text-center">Người tạo</th>
                        <th style="min-width: 230px; width: 30%" class="text-center">Số tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center align-middle">Hóa đơn</td>
                        <td class="text-center align-middle">07/04/2022</td>
                        <td class="text-center align-middle">16:10:33</td>
                        <td class="text-center align-middle">Nguyễn Trường Anh</td>
                        <td class="text-center align-middle">250.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Phiếu nhập</td>
                        <td class="text-center align-middle">07/04/2022</td>
                        <td class="text-center align-middle">16:10:33</td>
                        <td class="text-center align-middle">Nguyễn Trường Anh</td>
                        <td class="text-center align-middle">250.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Hóa đơn</td>
                        <td class="text-center align-middle">07/04/2022</td>
                        <td class="text-center align-middle">16:10:33</td>
                        <td class="text-center align-middle">Nguyễn Trường Anh</td>
                        <td class="text-center align-middle">250.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Hóa đơn</td>
                        <td class="text-center align-middle">07/04/2022</td>
                        <td class="text-center align-middle">16:10:33</td>
                        <td class="text-center align-middle">Nguyễn Trường Anh</td>
                        <td class="text-center align-middle">250.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Hóa đơn</td>
                        <td class="text-center align-middle">07/04/2022</td>
                        <td class="text-center align-middle">16:10:33</td>
                        <td class="text-center align-middle">Nguyễn Trường Anh</td>
                        <td class="text-center align-middle">250.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Phiếu nhập</td>
                        <td class="text-center align-middle">07/04/2022</td>
                        <td class="text-center align-middle">16:10:33</td>
                        <td class="text-center align-middle">Nguyễn Trường Anh</td>
                        <td class="text-center align-middle">250.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Hóa đơn</td>
                        <td class="text-center align-middle">07/04/2022</td>
                        <td class="text-center align-middle">16:10:33</td>
                        <td class="text-center align-middle">Nguyễn Trường Anh</td>
                        <td class="text-center align-middle">250.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Hóa đơn</td>
                        <td class="text-center align-middle">07/04/2022</td>
                        <td class="text-center align-middle">16:10:33</td>
                        <td class="text-center align-middle">Nguyễn Trường Anh</td>
                        <td class="text-center align-middle">250.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Hóa đơn</td>
                        <td class="text-center align-middle">07/04/2022</td>
                        <td class="text-center align-middle">16:10:33</td>
                        <td class="text-center align-middle">Nguyễn Trường Anh</td>
                        <td class="text-center align-middle">250.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">Hóa đơn</td>
                        <td class="text-center align-middle">07/04/2022</td>
                        <td class="text-center align-middle">16:10:33</td>
                        <td class="text-center align-middle">Nguyễn Trường Anh</td>
                        <td class="text-center align-middle">250.000 VNĐ</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end mb-2">
            <strong>Tổng tiền: 2.000.000 VNĐ</strong>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger">Xem thêm</button>
        </div>
    </div>
</div>
<script>
  // JQuery
  $(document).ready( function() {
    $('#time').val(getToday());
  });
  
  function getToday(){
	const local = new Date();
    local.setMinutes(local.getMinutes() - local.getTimezoneOffset());
	return local.toJSON().slice(0,10);
  }
</script>