<div class="table">
    <div class="title">
        Tình trạng bàn ăn
        <span></span>
    </div>
    <div class="content pt-5">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-light table">
                <thead>
                    <tr class="text-white" style="background-color: var(--primary-color);">
                        <th style="min-width: 50px;" class="text-center">ID</th>
                        <th style="min-width: 120px;" class="text-center">Tên bàn ăn</th>
                        <th style="min-width: 122px;" class="text-center">Chi nhánh</th>
                        <th style="min-width: 96px;" class="text-center">Sức chứa</th>
                        <th style="min-width: 106px;" class="text-center">Tình trạng</th>
                        <th style="min-width: 110px;" class="text-center">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center align-middle">BA0001</td>
                        <td class="text-center align-middle">Bàn 1</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">8 người</td>
                        <td class="text-center align-middle text-success">Trống</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0002</td>
                        <td class="text-center align-middle">Bàn 2</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">8 người</td>
                        <td class="text-center align-middle text-warning">Đặt trước</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0003</td>
                        <td class="text-center align-middle">Bàn 3</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">16 người</td>
                        <td class="text-center align-middle text-danger">Sử dụng</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0001</td>
                        <td class="text-center align-middle">Bàn 1</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">8 người</td>
                        <td class="text-center align-middle text-success">Trống</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0002</td>
                        <td class="text-center align-middle">Bàn 2</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">8 người</td>
                        <td class="text-center align-middle text-warning">Đặt trước</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0003</td>
                        <td class="text-center align-middle">Bàn 3</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">16 người</td>
                        <td class="text-center align-middle text-danger">Sử dụng</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0001</td>
                        <td class="text-center align-middle">Bàn 1</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">8 người</td>
                        <td class="text-center align-middle text-success">Trống</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0002</td>
                        <td class="text-center align-middle">Bàn 2</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">8 người</td>
                        <td class="text-center align-middle text-warning">Đặt trước</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0003</td>
                        <td class="text-center align-middle">Bàn 3</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">16 người</td>
                        <td class="text-center align-middle text-danger">Sử dụng</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0003</td>
                        <td class="text-center align-middle">Bàn 3</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">16 người</td>
                        <td class="text-center align-middle text-danger">Sử dụng</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger">Xem thêm</button>
        </div>
    </div>
</div>

<script>
    // Tooltip
    $('[data-tooltip="tooltip"]').tooltip();
</script>