<link rel="stylesheet" href="/css/private/bill.css">

<div class="bill-detail">
    <div class="title">
        Chi tiết hóa đơn
        <span></span>
    </div>
    <a href="/comnha/bills" class="text-danger d-inline-block pt-2">Trở lại</a>
    <div class="col-12 col-md-6 offset-md-3 pt-2">
        <div class="bill-detail__heading">
            <h5 class="text-center"><strong>Nhà hàng CƠM NHÀ</strong></h5>
            <h6 class="text-center"><strong>Hóa đơn</strong></h6>
        </div>
        <div class="bill-detail__content">
            {{!-- Thông tin cơ bản hóa đơn --}}
            <span></span>
            <div class="px-2">
                <div class="d-flex justify-content-between pb-1">
                    <span class="d-inline-block" style="width: 45%;">Mã hóa đơn:</span>
                    <span class="text-right">HD0001</span>
                </div>
                <div class="d-flex justify-content-between pb-1">
                    <span class="d-inline-block" style="width: 45%;">Người tạo:</span>
                    <span class="text-right">Nguyễn Trường Anh</span>
                </div>
                <div class="d-flex justify-content-between pb-1">
                    <span class="d-inline-block" style="width: 45%;">Chi nhánh:</span>
                    <span class="text-right">Hồ Chí Minh</span>
                </div>
                <div class="d-flex justify-content-between pb-1">
                    <span class="d-inline-block" style="width: 45%;">Ngày tạo:</span>
                    <span class="text-right">02/04/2022</span>
                </div>
            </div>
            {{!-- Hình thức thanh toán hóa đơn --}}
            <span></span>
            <div class="px-2">
                <div class="d-flex justify-content-between pb-1">
                    <span class="d-inline-block" style="width: 45%;">Hình thức:</span>
                    <span class="text-right">Ăn trực tiếp</span>
                </div>
                <div class="d-flex justify-content-between pb-1">
                    <span class="d-inline-block" style="width: 45%;">Tên khách hàng:</span>
                    <span class="text-right"></span>
                </div>
                <div class="d-flex justify-content-between pb-1">
                    <span class="d-inline-block" style="width: 45%;">Số điện thoại:</span>
                    <span class="text-right"></span>
                </div>
                <div class="d-flex justify-content-between pb-1">
                    <span class="d-inline-block" style="width: 45%;">Địa chỉ:</span>
                    <span class="text-right">Cơm Nhà, Tp. Hồ Chí Minh</span>
                </div>
            </div>
            {{!-- Chi tiết các món ăn trong món ăn --}}
            <span></span>
            <div class="px-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 45%">Món ăn</th>
                            <th style="width: 10%" class="text-center">SL</th>
                            <th style="width: 45%" class="text-right">Số tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0">Lẩu thái</p>
                                <p class="mb-0 font-italic">300.000</p>
                            </td>
                            <td class="text-center">2</td>
                            <td class="text-right">600.000</td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0">Cút nướng</p>
                                <p class="mb-0 font-italic">100.000</p>
                            </td>
                            <td class="text-center">1</td>
                            <td class="text-right">100.000</td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0">Gà nướng</p>
                                <p class="mb-0 font-italic">220.000</p>
                            </td>
                            <td class="text-center">1</td>
                            <td class="text-right">220.000</td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0">Nem nướng cuốn bánh hỏi</p>
                                <p class="mb-0 font-italic">100.000</p>
                            </td>
                            <td class="text-center">2</td>
                            <td class="text-right">200.000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{!-- Tạm tính tiền --}}
            <div class="px-2">
                <div class="d-flex justify-content-between pb-1">
                    <strong>Tạm tính:</strong>
                    <span>1.120.000</span>
                </div>
                <div class="d-flex justify-content-between pb-1">
                    <strong>Chiết khấu:</strong>
                    <span>-112.000</span>
                </div>
                <div class="d-flex justify-content-between pb-1">
                    <strong>Phí ship:</strong>
                    <span>0</span>
                </div>
            </div>
            {{!-- Tổng thành tiền --}}
            <span></span>
            <div class="px-2">
                <div class="d-flex justify-content-between pb-1">
                    <strong>Tổng:</strong>
                    <strong>1.008.000đ</strong>
                </div>
            </div>
            {{!-- Cảm ơn --}}
            <p class="text-center pt-3">Hẹn gặp lại quý khách</p>
            <div class="d-flex justify-content-center">
                <a href="/comnha/bills/edit/HD0001" type="button" class="mx-1 btn btn-outline-primary">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Chỉnh sửa
                </a>
                <button type="button" class="mx-1 btn btn-outline-danger" data-toggle="modal" data-id="HD0001"
                    data-target="#delete-modal">
                    <i class="fa-solid fa-trash-can"></i>
                    Xóa
                </button>
                <button type="button" class="mx-1 btn btn-outline-info" data-toggle="modal" data-id="HD0001"
                    data-target="#print-modal">
                    <i class="fa-solid fa-print"></i>
                    In
                </button>
            </div>
        </div>
    </div>
</div>

{{!-- Model xóa --}}
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa hóa đơn?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="delete-modal-body__message" class="modal-body__message">Do you want to delete ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-confirm-delete" type="button" class="btn btn-danger">Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form id="delete-form" name="delete-form" method="POST"></form>

{{!-- Model in --}}
<div id="print-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">In hóa đơn?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="print-modal-body__message" class="modal-body__message">Do you want to print ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-confirm-print" type="button" class="btn btn-success">Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const deleteForm = document.getElementById('delete-form')
        const btnDelete = document.getElementById('btn-confirm-delete')
        const deleteModalMessage = document.getElementById('delete-modal-body__message')
        const btnPrint = document.getElementById('btn-confirm-print')
        const printModalMessage = document.getElementById('print-modal-body__message')

        let id;

        // When single button delete clicked in each course
        $('#delete-modal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            id = button.data('id')
            deleteModalMessage.innerHTML = `Bạn có thật sự muốn xóa hóa đơn: ${id} không?`
        })

        // When button delete clicked
        btnDelete.onclick = function () {
            deleteForm.action = ``
            deleteForm.submit()
        }

        $('#print-modal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            id = button.data('id')
            printModalMessage.innerHTML = `Bạn có thật sự muốn in hóa đơn: ${id} không?`
        })

        btnPrint.onclick = function () {
            $('#print-modal').modal('hide')
            console.log('In hóa đơn thành công')
        }
    });
</script>