<link rel="stylesheet" href="/css/private/bill.css">

<div class="bill-edit">
    <div class="title">
        Chỉnh sửa hóa đơn
        <span></span>
    </div>
    <a href="/comnha/bills" class="text-danger d-inline-block pt-2">Trở lại</a>
    <div class="container">
        <div class="row pt-3">
            {{!-- Left --}}
            <div class="col-12 col-lg-6 bill-edit__left">
                <form>
                    <div class="input-group bill-edit__input-group align-items-center mb-2">
                        <label for="" class="mb-0 mr-2">Mã hội viên: </label>
                        <input type="number" class="form-control bordered" placeholder="Nhập mã hội viên">
                    </div>
                    <div class="input-group bill-edit__input-group align-items-center mb-2">
                        <label for="" class="mb-0 mr-2">Ngày tạo: </label>
                        <input type="date" class="form-control bordered" placeholder="Nhập mã hội viên">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="reset" class="btn btn-outline-primary mr-2">Ghi lại</button>
                        <button type="button" class="btn btn-outline-success">Xác nhận</button>
                    </div>
                </form>
            </div>
            {{!-- Right --}}
            <div class="col-12 col-md-8 offset-md-2 offset-lg-0 col-lg-6 bill-edit__right">
                <div class="bill-edit__right-heading">
                    <h5 class="text-center"><strong>Nhà hàng CƠM NHÀ</strong></h5>
                    <h6 class="text-center"><strong>Hóa đơn</strong></h6>
                </div>
                <div class="bill-edit__right-content">
                    {{!-- Thông tin cơ bản hóa đơn --}}
                    <span></span>
                    <div class="px-2">
                        <div class="d-flex justify-content-between pb-1">
                            <span class="d-inline-block" style="width: 45%;">Mã hóa đơn:</span>
                            <span class="text-right">HD0001</span>
                        </div>
                        <div class="d-flex justify-content-between pb-1">
                            <span class="d-inline-block" style="width: 45%;">Người tạo:</span>
                            <span class="text-right">Nguyễn Trường Anh</span>
                        </div>
                        <div class="d-flex justify-content-between pb-1">
                            <span class="d-inline-block" style="width: 45%;">Chi nhánh:</span>
                            <span class="text-right">Hồ Chí Minh</span>
                        </div>
                        <div class="d-flex justify-content-between pb-1">
                            <span class="d-inline-block" style="width: 45%;">Ngày tạo:</span>
                            <span class="text-right">02/04/2022</span>
                        </div>
                    </div>
                    {{!-- Hình thức thanh toán hóa đơn --}}
                    <span></span>
                    <div class="px-2">
                        <div class="d-flex justify-content-between pb-1">
                            <span class="d-inline-block" style="width: 45%;">Hình thức:</span>
                            <span class="text-right">Ăn trực tiếp</span>
                        </div>
                        <div class="d-flex justify-content-between pb-1">
                            <span class="d-inline-block" style="width: 45%;">Tên khách hàng:</span>
                            <span class="text-right"></span>
                        </div>
                        <div class="d-flex justify-content-between pb-1">
                            <span class="d-inline-block" style="width: 45%;">Số điện thoại:</span>
                            <span class="text-right"></span>
                        </div>
                        <div class="d-flex justify-content-between pb-1">
                            <span class="d-inline-block" style="width: 45%;">Địa chỉ:</span>
                            <span class="text-right">Cơm Nhà, Tp. Hồ Chí Minh</span>
                        </div>
                    </div>
                    {{!-- Chi tiết các món ăn trong món ăn --}}
                    <span></span>
                    <div class="bill-edit__right-content-detail px-2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 45%">Món ăn</th>
                                    <th style="width: 10%" class="text-center">SL</th>
                                    <th style="width: 45%" class="text-right">Số tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="mb-0">Lẩu thái</p>
                                        <p class="mb-0 font-italic">300.000</p>
                                    </td>
                                    <td class="text-center">2</td>
                                    <td class="text-right">600.000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0">Cút nướng</p>
                                        <p class="mb-0 font-italic">100.000</p>
                                    </td>
                                    <td class="text-center">1</td>
                                    <td class="text-right">100.000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0">Gà nướng</p>
                                        <p class="mb-0 font-italic">220.000</p>
                                    </td>
                                    <td class="text-center">1</td>
                                    <td class="text-right">220.000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="mb-0">Nem nướng cuốn bánh hỏi</p>
                                        <p class="mb-0 font-italic">100.000</p>
                                    </td>
                                    <td class="text-center">2</td>
                                    <td class="text-right">200.000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{!-- Tạm tính tiền --}}
                    <div class="px-2">
                        <div class="d-flex justify-content-between pb-1">
                            <strong>Tạm tính:</strong>
                            <span>1.120.000</span>
                        </div>
                        <div class="d-flex justify-content-between pb-1">
                            <strong>Chiết khấu:</strong>
                            <span>-112.000</span>
                        </div>
                        <div class="d-flex justify-content-between pb-1">
                            <strong>Phí ship:</strong>
                            <span>0</span>
                        </div>
                    </div>
                    {{!-- Tổng thành tiền --}}
                    <span></span>
                    <div class="px-2">
                        <div class="d-flex justify-content-between pb-1">
                            <strong>Tổng:</strong>
                            <strong>1.008.000đ</strong>
                        </div>
                    </div>
                    {{!-- Cảm ơn --}}
                    <p class="text-center pt-3">Hẹn gặp lại quý khách</p>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success">Cập nhật</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>