<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div
	th:replace="/Shared/_Layout_Private :: private_layout_header(type='none')"></div>
<link rel="stylesheet" th:href="@{/css/private/food.css}">
</head>
<body>
	<div th:replace="/Shared/Private/_Header :: header"></div>
	<main role="main">
		<div class="container my-5">
			<div class="row">
				<div class='col-xl-3'>
					<div th:replace="/Shared/Private/_Sidebar :: sidebar"></div>
				</div>

				<div class='col-12 col-sm-12 col-md-12 col-xl-9 '
					style="margin-top: var(--header-height);">

					<div th:if="${nhommonan}" class="food">
						<div class="title">
							Món ăn <span></span>
						</div>
						<a href="/admin/foods" class="text-danger">Trở lại</a>
						<div
							class="heading d-flex flex-column flex-md-row justify-content-md-between">
							<div
								class="search d-flex pt-2 pt-md-0 flex-column flex-md-row align-items-md-center">
								<span>Nhóm: [[${nhommonan.tenNhom}]]</span>
							</div>
							<div
								class="search d-flex pt-2 pt-md-0 flex-column flex-md-row align-items-md-center">
								<label for="search-input">Tìm kiếm: </label>
								<div class="search-wrapper">
									<input id="search-input" class="search-input" type="text"
										placeholder="Nhập từ khóa"> <i
										class="fa-solid fa-magnifying-glass search-btn"></i>
								</div>
							</div>
						</div>
						<div class="content pt-5">
							<div class="table-responsive">
								<table
									class="table table-bordered table-hover table-light table">
									<thead>
										<tr class="text-white"
											style="background-color: var(--primary-color);">
											<th style="min-width: 20px; width: 10%" class="text-center">ID</th>
											<th style="min-width: 100px; width: 20%" class="text-center">Tên
												món ăn</th>
											<th style="min-width: 100px; width: 15%" class="text-center">Hình ảnh</th>
											<th style="min-width: 100px; width: 15%" class="text-center">Đơn
												giá</th>
											<th style="min-width: 100px; width: 10%" class="text-center">Đơn
												vị</th>
											<th style="min-width: 130px; width: 20%" class="text-center">Hành
												động</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="monan: ${nhommonan.nhomMonAn_MonAns}"
											th:id="${'tr-food-id-' + monan.MaMonAn}">
											<td class="text-center align-middle"><a
												th:href='${"/admin/foods/detail/" + monan.MaMonAn}'
												class="text-dark">[[${monan.MaMonAn}]]</a></td>
											<td class="text-center align-middle"><a
												th:href='${"/admin/foods/detail/" + monan.MaMonAn}'
												class="text-dark">[[${monan.TenMonAn}]]</a></td>
											<td class="text-center align-middle">
											<img th:if="${monan.hinhAnh}" class="img-fluid" th:src="@{'/images/food-images/' + ${monan.hinhAnh}}">
											</td>
											<td class="text-center align-middle">[[${#numbers.formatDecimal(monan.donGia,
												0, 'POINT', 0, 'COMMA')}]] VNĐ</td>
											<td class="text-center align-middle">[[${monan.DonVi}]]</td>
											<td class="text-center align-middle"><a
												th:href='${"/admin/foods/edit/" + monan.MaMonAn}'
												type="button" class="btn btn-sm btn-outline-primary"> <i
													class="fa-solid fa-pen-to-square"></i> Chỉnh sửa
											</a>
												<button type="button" class="btn btn-sm btn-outline-danger"
													data-tooltip="tooltip" data-placement="top" title="Xóa"
													data-toggle="modal" th:data-id="${monan.MaMonAn}"
													data-img="" th:data-name="${monan.TenMonAn}"
													data-target="#delete-modal">
													<i class="fa-solid fa-trash-can"></i> Xóa
												</button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


	<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Xóa món ăn?</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="modal-body__message">Do you want to delete ?</p>
				</div>
				<div class="modal-footer">
					<button id="btn-confirm-delete" type="button"
						class="btn btn-danger">Xác nhận</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Hủy</button>
				</div>
			</div>
		</div>
	</div>


	<form id="delete-form" name="delete-form" method="POST">
		<input type="hidden" name="deleted-food-id" value="" />
	</form>


	<div th:replace="/Shared/Components/_GoToTop :: goToTop"></div>
	<div th:replace="/Shared/Private/_Footer :: footer"></div>
	<script th:src="@{/js/main.js}"></script>

	<script>
    $(document).ready(function () {
        const deleteForm = document.getElementById('delete-form')
        const btnDeleteCourse = document.getElementById('btn-confirm-delete')
        const modalMessage = document.querySelector('.modal-body__message')
        let id;

        // Tooltip
        $('[data-tooltip="tooltip"]').tooltip();

        // When single button delete clicked in each course
        $('#delete-modal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            id = button.data('name')
            $("input[name='deleted-food-id']").val(button.data('id'));
            modalMessage.innerHTML = `Bạn có thật sự muốn xóa món ăn: <strong class="text-danger">${id}</strong> không?`
        })

        // When button delete clicked
        btnDeleteCourse.onclick = function () {
            const deletedID = $("input[name='deleted-food-id']").val();

            let API_URL = `/admin/foods/delete-food/${deletedID}`;
            const options = {
                credentials: 'same-origin',
                method: 'DELETE',
                mode: 'cors',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json;charset=UTF-8',
                }
                //,
                //body: JSON.stringify({
                //    toTime: username,
                //    password: password
                //})
            };

            fetch(API_URL, options)
            .then(json_result => {
                return json_result.json();
            })
            .then(result => {
                console.log(result);
                if (result.status) {
                    $("#delete-modal").modal("toggle");
                    $("#tr-food-id-" + deletedID).remove();
                }
            })
            .catch(error => {
                //fadeError(error);
            })
        }
    });
</script>
</body>