<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="../Layout_Private :: private_layout_header(type='none')">
</head>

<body>
	<footer th:fragment="footer" class="footer">
		<div class="container">
			<div class="row pt-3">
				<div class="col-12 col-xl-4 mt-2">
					<div class="footer-logo">
						<i class="fas fa-utensils"></i> Cơm nhà
					</div>
					<div class="footer-desc">Nhà hàng Cơm nhà cung cấp cho khách
						hàng các món ăn đa dạng, hấp dẫn và đặc biệt mạng đậm hương vị gia
						đình. Cơm nhà luôn tự hào: Mỗi nguyên liệu đều được chọn lọc từ
						những nguyên liệu tươi ngon nhất, mỗi gia vị đều là các gia vị
						được bạn dùng trong nhà, đảm bảo sự phù hợp cho khẩu vị của bạn.
						Chúng tôi luôn đặt chất lượng lên hàng đầu, đảm bảo về vệ sinh,
						khẳng định độ tươi ngon. Hãy đến và trãi nghiệm tại nhà hàng Cơm
						nhà để khám phá các món ngon dành cho bạn.</div>
				</div>
				<div class="col-12 col-xl-4 mt-2">
					<div class="footer-heading">
						<i class="fas fa-link"></i> Liên kết nhanh website:
					</div>
					<ul class="footer-link__list">
						<li class="footer-link__item"><a href="/">Trang chủ</a></li>
						<li class="footer-link__item"><a href="/menu">Thực đơn</a></li>
						<li class="footer-link__item"><a href="/introduce">Giới
								thiệu</a></li>
						<li class="footer-link__item"><a href="/contact">Liên hệ</a></li>
					</ul>
					<ul class="footer-social__list">
						<li class="footer-social__item"><a href=""> <i
								class="fab fa-facebook-square"></i>
						</a></li>
						<li class="footer-social__item"><a href=""> <i
								class="fab fa-instagram-square"></i>
						</a></li>
						<li class="footer-social__item"><a href=""> <i
								class="fab fa-twitter-square"></i>
						</a></li>
						<li class="footer-social__item"><a href=""> <i
								class="fab fa-pinterest-square"></i>
						</a></li>
					</ul>
				</div>
				<div class="col-12 col-xl-4 mt-2">
					<div class="footer-heading">
						<i class="fa-solid fa-phone"></i> Liên hệ hỗ trợ:
					</div>
					<div class="footer-hotline">
						Quản lý: <a href="tel:0207.9999">0207.9999</a>
					</div>
					<ul class="footer-social__list">
						<li class="footer-social__item"><a href=""> <i
								class="fab fa-facebook-square"></i>
						</a></li>
						<li class="footer-social__item"><a href=""> <i
								class="fab fa-instagram-square"></i>
						</a></li>
						<li class="footer-social__item"><a href=""> <i
								class="fab fa-twitter-square"></i>
						</a></li>
						<li class="footer-social__item"><a href=""> <i
								class="fab fa-pinterest-square"></i>
						</a></li>
					</ul>
					<div class="footer-heading mt-2">
						<i class="fa-solid fa-clock"></i> Giờ làm việc:
					</div>
					<div class="footer-hotline">
						T2-T7: 9h-22h <br> CN: 8h-23h
					</div>
				</div>
			</div>
		</div>
		<p class="footer-copyright">Copyrights © 2022</p>
	</footer>
</body>

</html>









