<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="../Layout_Private :: private_layout_header(type='none')">
</head>

<body>
	<header th:fragment="header" class="header">
		<div class="w-100 mx-0 row">
			<div
				class="header-mobile col-2 d-xl-none d-flex align-items-center justify-content-start">
				<div class="header-mobile__menu-btn">
					<span class="menu-btn__bar"></span>
				</div>
				<div class="header-mobile__navbar">
					<div class="header-mobile__container col-12 col-sm-6">
						<div class="header-mobile__heading">
							<a href="/"><i class="fa-solid fa-earth-asia"></i> Truy cập
								website</a>
						</div>

						<div class="header-mobile__wrapper">
							<p class="header-mobile__title">Dashboard</p>
							<ul class="header-mobile__list">
								<li class="header-mobile__item header-mobile__item--home">
									<a href="/comnha/"> <i class="fa-solid fa-house-chimney"></i>
										Trang chủ
								</a>
								</li>
								<div
									th:if='${session.role.equalsIgnoreCase("Thu ngân")||session.role.equalsIgnoreCase("Quản Lý Nhà Hàng")}'>
									<li class="header-mobile__item header-mobile__item--revenue"><a
										href="/admin/revenue"> <i class="fa-solid fa-chart-line"></i>
											Doanh thu
									</a></li>
								</div>

							</ul>
						</div>

						<div class="header-mobile__wrapper">
							<p class="header-mobile__title">Quick Menu</p>
							<ul class="header-mobile__list">
								<div
									th:if='${session.role.equalsIgnoreCase("Quản Lý Nhà Hàng")}'>
									<li class="header-mobile__item header-mobile__item--staffs"><a
										href="/admin/staffs"> <i class="fa-solid fa-user-large"></i>
											Nhân viên
									</a></li>
								</div>
								<div
									th:if='${session.role.equalsIgnoreCase("Quản Lý Nhà Hàng") || session.role.equalsIgnoreCase("Lễ Tân")}'>
									<li class="header-mobile__item header-mobile__item--members"><a
										href="/admin/members"> <i class="fa-solid fa-user-group"></i>
											Hội viên
									</a></li>
								</div>
								<div
									th:if='${session.role.equalsIgnoreCase("Quản Lý Nhà Hàng")}'>
									<li class="header-mobile__item header-mobile__item--foods"><a
										href="/admin/foods"> <i class="fa-solid fa-utensils"></i>
											Món ăn
									</a></li>
								</div>
								<div
									th:if='${session.role.equalsIgnoreCase("Quản Lý Nhà Hàng") || session.role.equalsIgnoreCase("Lễ Tân")}'>
									<li class="header-mobile__item header-mobile__item--bills"><a
										href="/admin/bills"> <i
											class="fa-solid fa-file-invoice-dollar"></i> Hóa đơn
									</a></li>
									<li class="header-mobile__item header-mobile__item--schedules"><a
										href="/admin/schedules"> <i
											class="fa-regular fa-calendar-days"></i> Lịch hẹn
									</a></li>
								</div>
								<div
									th:if='${session.role.equalsIgnoreCase("Quản Lý Nhà Hàng") || session.role.equalsIgnoreCase("Quản lý kho")}'>
									<li class="header-mobile__item header-mobile__item--materials"><a
										href="/admin/materials"> <i class="fa-solid fa-cubes"></i>
											Nguyên vật liệu
									</a></li>
									<li
										class="header-mobile__item header-mobile__item--received-notes"><a
										href="/admin/received-notes"> <i
											class="fa-solid fa-clipboard-list"></i> Phiếu nhập
									</a></li>
									<li class="header-mobile__item header-mobile__item--suppliers"><a
										href="/admin/suppliers"> <i class="fa-solid fa-truck"></i>
											Nhà cung cấp
									</a></li>
								</div>
							</ul>
						</div>

						<div
							th:if='${session.role.equalsIgnoreCase("Quản Lý Nhà Hàng") || session.role.equalsIgnoreCase("Lễ Tân") || session.role.equalsIgnoreCase("Phục vụ")}'>
							<div class="header-mobile__wrapper">
								<p class="header-mobile__title">Actions</p>

								<ul class="header-mobile__list">

									<li
										class="header-mobile__item header-mobile__item--tables-condition"><a
										href="/admin/tables"> <i class="fa-solid fa-table-cells"></i>
											Xem tình trạng bàn ăn
									</a></li>
									<li class="header-mobile__item header-mobile__item--order"><a
										href="/admin/order"> <i class="fa-solid fa-pen-to-square"></i>
											Tạo phiếu gọi món
									</a></li>
								</ul>
							</div>
						</div>
						<div class="header-mobile__wrapper mb-3">
							<p class="header-mobile__title">Other</p>
							<ul class="header-mobile__list">
								<li class="header-mobile__item header-mobile__item--password"><a
									href="/admin/password"> <i class="fa-solid fa-lock"></i>
										Đổi mật khẩu
								</a></li>
								<li class="header-mobile__item"><a href="/admin/logout">
										<i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
								</a></li>
							</ul>
						</div>

					</div>
					<div class="header-mobile__overlay col-sm-6"></div>
				</div>
			</div>

			<div
				class="header-left col-8 col-xl-3 d-flex align-items-center justify-content-center">
				<a href="/comnha/private" class="header-logo"> <i
					class="fas fa-utensils"></i> <span>Cơm Nhà</span>
				</a>
			</div>

			<div
				class="header-center col-xl-4 d-none d-xl-flex align-items-center justify-content-start">
				<ul class="header-list">
					<li class="header-item"><a href="/"><i
							class="fa-solid fa-earth-asia"></i> Truy cập website</a></li>
				</ul>
			</div>

			<div
				class="header-right col-2 col-xl-5 d-flex align-items-center justify-content-end justify-content-xl-center">
				<div class="header-info">
					<p class="header-name d-none d-xl-block">
						Xin chào, <span id="header-staff-name">@Model.TenNhanVien</span>
					</p>
					<a href="/comnha/private"> <img class="header-image"
						src="/images/member.png" alt="Avatar">
					</a> <input type="hidden" id="hidden-staff-id"
						value="@Model.MaNhanVien" />
				</div>
			</div>
		</div>
	</header>