<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="../Layout_Private :: private_layout_header(type='remove')">
<link rel="stylesheet" th:href="@{/css/private/sitebar.css}">
</head>

<body>
	<div th:fragment="sidebar" class="sitebar d-none d-xl-block">
		<div class="sitebar-wrapper">
			<div class="sitebar-menu">
				<p class="sitebar-title">Dashboard</p>
				<ul class="sitebar-list">
					<li class="sitebar-item sitebar-item--home"><a href="/admin">
							<i class="fa-solid fa-house-chimney"></i> Trang chủ
					</a></li>

					<div
						th:if='${session.role.equalsIgnoreCase("Thu ngân")||session.role.equalsIgnoreCase("Quản Lý Nhà Hàng")}'>
						<li class="sitebar-item sitebar-item--revenue"><a
							href="/admin/revenue"> <i class="fa-solid fa-chart-line"></i>
								Doanh thu
						</a></li>
					</div>

				</ul>
			</div>

			<div class="sitebar-menu">
				<p class="sitebar-title">Quick Menu</p>
				<ul class="sitebar-list">

					<div th:if='${session.role.equalsIgnoreCase("Quản Lý Nhà Hàng")}'>
						<li class="sitebar-item sitebar-item--staffs"><a
							href="/admin/staffs"> <i class="fa-solid fa-user-large"></i>
								Nhân viên
						</a></li>
					</div>
					<div
						th:if='${session.role.equalsIgnoreCase("Quản Lý Nhà Hàng") || session.role.equalsIgnoreCase("Lễ Tân")}'>
						<li class="sitebar-item sitebar-item--members"><a
							href="/admin/members"> <i class="fa-solid fa-user-group"></i>
								Hội viên
						</a></li>
					</div>
					<div th:if='${session.role.equalsIgnoreCase("Quản Lý Nhà Hàng")}'>
						<li class="sitebar-item sitebar-item--foods"><a
							href="/admin/foods"> <i class="fa-solid fa-utensils"></i> Món
								ăn
						</a></li>
					</div>
					<div
						th:if='${session.role.equalsIgnoreCase("Quản Lý Nhà Hàng") || session.role.equalsIgnoreCase("Lễ Tân")}'>
						<li class="sitebar-item sitebar-item--bills"><a
							href="/admin/bills"> <i
								class="fa-solid fa-file-invoice-dollar"></i> Hóa đơn
						</a></li>
						<li class="sitebar-item sitebar-item--schedules"><a
							href="/admin/schedules"> <i
								class="fa-regular fa-calendar-days"></i> Lịch hẹn
						</a></li>
					</div>
					<div
						th:if='${session.role.equalsIgnoreCase("Quản Lý Nhà Hàng") || session.role.equalsIgnoreCase("Quản lý kho")}'>
						<li class="sitebar-item sitebar-item--materials"><a
							href="/admin/materials"> <i class="fa-solid fa-cubes"></i>
								Nguyên vật liệu
						</a></li>
						<li class="sitebar-item sitebar-item--received-notes"><a
							href="/admin/received-notes"> <i
								class="fa-solid fa-clipboard-list"></i> Phiếu nhập
						</a></li>
						<li class="sitebar-item sitebar-item--suppliers"><a
							href="/admin/suppliers"> <i class="fa-solid fa-truck"></i>
								Nhà cung cấp
						</a></li>
					</div>
				</ul>
			</div>
			<div
				th:if='${session.role.equalsIgnoreCase("Quản Lý Nhà Hàng") || session.role.equalsIgnoreCase("Lễ Tân") || session.role.equalsIgnoreCase("Phục vụ")}'>
				<div class="sitebar-menu">
					<p class="sitebar-title">Actions</p>

					<ul class="sitebar-list">

						<li class="sitebar-item sitebar-item--tables-condition"><a
							href="/admin/tables"> <i class="fa-solid fa-table-cells"></i>
								Xem tình trạng bàn ăn
						</a></li>
						<li class="sitebar-item sitebar-item--order"><a
							href="/admin/order"> <i class="fa-solid fa-pen-to-square"></i>
								Tạo phiếu gọi món
						</a></li>
					</ul>
				</div>
			</div>

			<div class="sitebar-menu">
				<p class="sitebar-title">Other</p>
				<ul class="sitebar-list">
					<li class="sitebar-item sitebar-item--password"><a
						href="/admin/password"> <i class="fa-solid fa-lock"></i> Đổi
							mật khẩu
					</a></li>
					<li class="sitebar-item"><a href="/admin/logout"> <i
							class="fa-solid fa-right-from-bracket"></i> Đăng xuất
					</a></li>
				</ul>
			</div>

		</div>
	</div>
</body>
</html>