<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div
	th:replace="/Shared/_Layout_Private :: private_layout_header(type='none')"></div>
<link rel="stylesheet" th:href="@{/css/calendar.css}">
<link rel="stylesheet" th:href="@{/css/private/home.css}">
</head>
<body>
	<div th:replace="/Shared/Private/_Header :: header"></div>
	<main role="main">
		<div class="container my-5">
			<div class="row">
				<div class='col-xl-3'>
					<div th:replace="/Shared/Private/_Sidebar :: sidebar"></div>
				</div>

				<div class='col-12 col-sm-12 col-md-12 col-xl-9 '
					style="margin-top: var(--header-height);">


					<div class="home">
						<div class="home-heading">
							<div class="row">
								<div class="col-12">
									<img th:src="@{/images/family.jpg}" alt="Img">
									<h4 class="home-heading__title">Cơm Nhà</h4>
									<p class="home-heading__logan">-Hương vị của tình thân-</p>
								</div>
							</div>
						</div>
						<div class="title">
							Thông tin tài khoản <span></span>
						</div>
						<div class="home-info">
							<div class="row">
								<div class="col-12 col-lg-3 d-flex justify-content-center">
									<img th:src="@{/images/avatar/unknown.jpg}" alt="Avatar">
								</div>


								<div class="col-12 col-lg-9 p-0">
									<div class="home-info__group d-flex justify-content-center">
										<div class="row w-100">
											<div class="col-12 col-md-4 px-1 pb-3">
												<p>
													<strong>Mã nhân viên:</strong>
												</p>
												<input id="staff-id" type="text"
													th:value="${nhanvien.maNhanVien}" disabled readonly>
											</div>
											<div class="col-12 col-md-8 px-1 pb-3">
												<p>
													<strong>Tên nhân viên:</strong>
												</p>
												<input id="staff-name" type="text"
													th:value="${nhanvien.tenNhanVien}" disabled readonly>
											</div>
											<div class="col-12 col-md-4 px-1 pb-3">
												<p>
													<strong>Chức vụ:</strong>
												</p>
												<input id="staff-role" type="text"
													th:value="${nhanvien.chucVu}" disabled readonly>
											</div>
											<div class="col-12 col-md-3 px-1 pb-3">
												<p>
													<strong>Số điện thoại:</strong>
												</p>
												<input id="staff-phone-number" type="text"
													th:value="${nhanvien.soDienThoai}" disabled readonly>
											</div>

											<div class="col-12 col-md-5 px-1 pb-3">
												<p>
													<strong>Email:</strong>
												</p>
												<input id="staff-email" type="email"
													th:value="${nhanvien.Email}" disabled readonly>
											</div>

											<div class="col-12 col-md-4 px-1 pb-3">
												<p>
													<strong>Lương:</strong>
												</p>
												<input id="staff-salary" type="text"
													th:value="${#numbers.formatDecimal(nhanvien.luong, 0, 'POINT', 0, 'COMMA') + ' VNĐ'}"
													disabled readonly>
											</div>

											<div class="col-12 col-md-8 px-1 pb-3">
												<p>
													<strong>Địa chỉ:</strong>
												</p>
												<input id="staff-address" type="text"
													th:value="${nhanvien.diaChi}" disabled readonly>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</main>

	<div th:replace="/Shared/Components/_GoToTop :: goToTop"></div>
	<div th:replace="/Shared/Private/_Footer :: footer"></div>
	<script th:src="@{/js/main.js}"></script>
	<script th:inline="javascript">
		function getToday() {
			const local = new Date();
			local.setMinutes(local.getMinutes() - local.getTimezoneOffset());
			return local.toJSON().slice(0, 10);
		}

		function padTo2Digits(num) {
			return num.toString().padStart(2, '0');
		}

		function formatDate(date) {
			return [ padTo2Digits(date.getDate()),
					padTo2Digits(date.getMonth() + 1), date.getFullYear(), ]
					.join('/');
		}

		function formatTime(date) {
			return [ padTo2Digits(date.getHours()),
					padTo2Digits(date.getMinutes()), date.getSeconds(), ]
					.join(':');
		}

		function numberWithCommas(x) {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
		}
	</script>
</body>