<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div
	th:replace="/Shared/_Layout_Private :: private_layout_header(type='none')"></div>
</head>
<body>
	<div th:replace="/Shared/Private/_Header :: header"></div>
	<main role="main">
		<div class="container my-5">
			<div class="row">
				<div class='col-xl-3'>
					<div th:replace="/Shared/Private/_Sidebar :: sidebar"></div>
				</div>

				<div class='col-12 col-sm-12 col-md-12 col-xl-9 '
					style="margin-top: var(--header-height);">

					<div class="revenue">
						<div class="title">
							Doanh thu <span></span>
						</div>
						<div
							class="heading d-flex flex-column flex-md-row justify-content-md-between">
							<div
								class="d-flex pt-2 pt-md-0 flex-column flex-md-row align-items-md-center">
								<label class="mr-sm-2 text-nowrap" for="CustomSelect">Chọn
									doanh thu theo:</label> <select class="custom-select mr-sm-2 w-md-50"
									name="statictial-method" id="CustomSelect">
									<option value="day" selected>Ngày</option>
									<option value="month">Tháng</option>
									<option value="year">Năm</option>
								</select>
							</div>

							<div
								class="d-flex pt-2 pt-md-0 flex-column flex-md-row align-items-md-center">
								<label class="mr-sm-2 text-nowrap" for="time">Từ ngày:</label> <input
									type="date" id="fromTime" name="fromTime" class="w-md-50">
							</div>

							<div
								class="d-flex pt-2 pt-md-0 flex-column flex-md-row align-items-md-center">
								<label class="mr-sm-2 text-nowrap" for="time">Đến ngày:</label>
								<input type="date" id="toTime" name="toTime" class="w-md-50">
							</div>

							<div
								class="d-flex pt-2 pt-md-0 flex-column flex-md-row align-items-md-center">
								<label class="mr-sm-2 text-nowrap" for="CustomSelect">Chọn
									chi nhánh:</label> <select class="custom-select mr-sm-2 w-md-50"
									id="CustomSelect">
									<option selected>Hồ Chí Minh</option>
									<option>Hà Nội</option>
								</select>
								<button id="view-revenue" type="button" class="btn btn-success">Thống kê</button>
							</div>
						</div>
						<div class="content pt-5">
							<div class="table-responsive">
								<table
									class="table table-bordered table-hover table-light table">
									<thead>
										<tr class="text-white"
											style="background-color: var(--primary-color);">
											<th style="min-width: 40px; width: 15%" class="text-center">Mã
												Hóa Đơn</th>
											<th style="min-width: 100px; width: 15%" class="text-center">Ngày</th>
											<th style="min-width: 100px; width: 15%" class="text-center">Giờ</th>
											<th style="min-width: 230px; width: 30%" class="text-center">Người
												tạo</th>
											<th style="min-width: 230px; width: 30%" class="text-center">Số
												tiền</th>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
							</div>
							<div class="d-flex justify-content-end mb-2">
								<strong id="total-income">Tổng tiền: 0 VNĐ</strong>
							</div>
							<div class="d-flex justify-content-center">
								<button type="button" class="btn btn-danger">Xem thêm</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>



	</main>

	<div th:replace="/Shared/Components/_GoToTop :: goToTop"></div>
	<div th:replace="/Shared/Private/_Footer :: footer"></div>
	<script th:src="@{/js/main.js}"></script>

	<script>
   	// JQuery
   	$(document).ready( function() {
	      $('#fromTime').val(getToday());
	      $('#toTime').val(getToday());
	
	
	        let API_URL = "http://localhost:8080/admin/api/revenue";
	        const options = {
	          credentials: 'same-origin',
	          method: 'POST',
	          mode: 'cors',
	          headers: {
	              'Accept': 'application/json',
	              'Content-Type': 'application/json;charset=UTF-8',
	          }
	      };
	
	       document.querySelector("#view-revenue").addEventListener("click", (e)=>{
	          const fromTime = document.querySelector("#fromTime").value;
	          const toTime = document.querySelector("#toTime").value;
	
	          const API = API_URL + `?fromTime=${fromTime}&toTime=${toTime}`;
	          console.log(API);
	          fetch(API, options)
	              .then(json_result => {
	                  return json_result.json();
	              })
	              .then(result => {
	                  console.log(result);
	                  if ( result.status ){
	                      let revenue_table = ``;
	                      let total = 0;
	
	                      for (let i = 0; i < result.data.length; i = i + 1){
	                          let bill = result.data[i];
	                          console.log(revenue_table);
	                          console.log(bill);
	
	                          revenue_table += `<tr>
	                              <td class="text-center align-middle">${bill['maHoaDon']}</td>
	                              <td class="text-center align-middle">${formatDate(new Date(bill['thoiGianThanhToan']))}</td>
	                              <td class="text-center align-middle">${formatTime(new Date(bill['thoiGianThanhToan']))}</td>
	                              <td class="text-center align-middle">${bill.tenNhanVien ? bill.tenNhanVien : "Đặt món trực tuyến"}</td>
	                              <td class="text-center align-middle">${numberWithCommas(bill.tongTien)} VNĐ</td>
	                          </tr>`;
	
	                          total += parseFloat(bill['tongTien']);
	                      }
	                      
	                      document.querySelector("div.content table tbody").innerHTML = revenue_table;
	                      document.querySelector("#total-income").textContent = `Tổng tiền: ${numberWithCommas(total)} VNĐ`;
	                  }
	              })
	              .catch(error => {
	                  //fadeError(error);
	              })
	      });
	          
	    });
	    
	
    function getToday(){
	    const local = new Date();
     	local.setMinutes(local.getMinutes() - local.getTimezoneOffset());
    	return local.toJSON().slice(0,10);
    }
	
    function padTo2Digits(num) {
     	return num.toString().padStart(2, '0');
 	}
	
  	function formatDate(date) {
     	return [
	      padTo2Digits(date.getDate()),
	      padTo2Digits(date.getMonth() + 1),
	      date.getFullYear(),
	      ].join('/');
  	}
	
   	function formatTime(date) {
      return [
	      padTo2Digits(date.getHours()),
	      padTo2Digits(date.getMinutes()),
	      date.getSeconds(),
	      ].join(':');
  	}
	
  	function numberWithCommas(x) {
     	return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
  	}
    
    
  </script>
</body>