<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="/Shared/_Layout :: public_layout_header(type='remove')"></div>
<link rel="stylesheet" th:href="@{/css/pages/contact/style.css}">
</head>

<body>

	<div th:replace="/Shared/Components/_Header :: header"></div>

	<main id="main">
		<div class="contact">
    <div class="container">
        <div class="contact-title">
            Liên hệ
        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-6">
                <div class="contact-hotline">
                    <i class="fas fa-phone-volume"></i>
                    Hotline: <a href="tel:0207.9999">0207.9999</a>
                </div>
                <div class="contact-time">
                    <i class="contact-time__icon far fa-clock"></i>
                    <ul class="contact-time__list">
                        <li class="contact-time__item">Sáng: 10h00 - 15h00</li>
                        <li class="contact-time__item">Tối: 16h00 - 21h00</li>
                    </ul>
                </div>
                <div class="contact-loction">
                    <i class="contact-loction__icon fas fa-map-marker-alt"></i>
                    <p class="contact-loction__content">
                        19, Nguyễn Hữu Thọ, Q7, Tp.HCM
                    </p>
                </div>
                <div class="contact-social">
                    <div class="contact-social__heading">
                        Mạng xã hội:
                    </div>
                    <ul class="contact-social__list">
                        <li class="contact-social__item">
                            <a href="">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="contact-social__item">
                            <a href="">
                                <i class="fab fa-instagram-square"></i>
                            </a>
                        </li>
                        <li class="contact-social__item">
                            <a href="">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </li>
                        <li class="contact-social__item">
                            <a href="">
                                <i class="fab fa-pinterest-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <form class="needs-validation contact-form" novalidate>
                    <div class="form-group">
                        <input type="text" class="form-control" id="contact-name" placeholder="Họ tên của bạn *" required>
                        <div class="invalid-feedback">
                            Bạn chưa nhập họ tên
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="contact-email" placeholder="Email của bạn *" required>
                        <div class="invalid-feedback">
                            Bạn chưa nhập họ tên
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="contact-phone" placeholder="Số điện thoại của bạn *" required>
                        <div class="invalid-feedback">
                            Bạn chưa nhập họ tên
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="contact-content" rows="6" placeholder="Nội dung *" required></textarea>
                        <div class="invalid-feedback">
                            Bạn chưa nhập nội dung
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-danger px-4 mr-2" type="reset">Ghi lại</button>
                        <button class="btn btn-success px-4" type="submit">Gửi</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-sm-12 my-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.024312235236!2d106.69728031541942!3d10.732608162934232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b2747a81a3%3A0x33c1813055acb613!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBUw7RuIMSQ4bupYyBUaOG6r25n!5e0!3m2!1svi!2s!4v1639236588625!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
	</main>

	<div th:replace="/Shared/Components/_Hotline :: hotLine"></div>
	<div th:replace="/Shared/Components/_GoToTop :: goToTop"></div>
	<div th:replace="/Shared/Components/_Footer :: footer"></div>

	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/home/control.js}"></script>
	<script th:src="@{/js/pages/contact/control.js}"></script>
</body>

</html>